<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="col-12">
      <h1>Agenda Telefónica</h1>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-6 m-t-15">
          <mat-form-field class="full-width">
            <mat-label>Nombre completo</mat-label>
            <input matInput name="names" [(ngModel)]="person.names" placeholder="" value="Sushi">
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Año Nacimiento</mat-label>
            <input matInput name="birthday"  [(ngModel)]="person.birthday" [matDatepicker]="birthdaypicker"  (dateChange)="calculate_age($event)">
            <mat-datepicker-toggle matSuffix [for]="birthdaypicker"></mat-datepicker-toggle>
            <mat-datepicker #birthdaypicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-12">
            <mat-form-field class="full-width">
              <mat-label>Edad</mat-label>
              <input matInput name="age" [disabled]="true" [(ngModel)]="person.age" placeholder="" value="Sushi">
            </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-12">
      <h3>Datos del contacto</h3>
      <div class="row" *ngIf="person">
        <app-phone-list  class="full-width" [person]="person" ></app-phone-list>
      </div>
      <div class="row">
        <app-phone-create  class="full-width" [person]="person" (add_contact)="add_contact($event)"></app-phone-create>
      </div>
    </div>
  </div>
</div>